@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Jost', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background: #090909;
}
.header_container{
    max-width: 1580px;
    margin: 0 auto;
    padding: 0 10px;
}
.main_container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 11px;
}
.line{
    display: none;  
}
body.hidden{
    overflow: hidden;
}
.mediaMenu{
    z-index: 10;
    position: fixed;
    top: 81px;
    transition: .2s linear;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color:rgba(28, 28, 29, 0.9);
    .media_menu_link{       
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 50px;
        .nav_item{
            margin-bottom: 30px;
            a{
                color: #CACACA;
                font-size: 35px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
            }
        }
    }
}
.mediaMenu.active{
    left: 0%;
}
header{
    border-bottom: 1px solid #949494;
    .header_wrapper{
        padding: 28px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        nav{
            .nav_link{
                display: flex;
                gap: 63px;
                .nav_item{
                    a{
                        color: #FFF;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-transform: uppercase;
                    }
                }
            }
            .media_burger{
                display: none;
            }
        }
    }
}
main{
    background-image: url('../images/home_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 386px;
    padding-bottom: 413px;
    .main_content{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        .main_btn{
            border: none;
            position: absolute;
            top: -80px;
            cursor: pointer;
            color: #000;    
            font-size: 27.579px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 3.999px;
            text-transform: uppercase;
            background: #D9D9D9;
            padding: 23px 62px;
        }
        h1{
            margin-top: 45px;
            color: #FFF;
            font-size: 81.2px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 11.774px;
            text-transform: uppercase;
        }
    }
}
#main_blocks{
    border-bottom: 1px solid #949494;
    margin-top: 120px;
    .main_block_one{
        display: flex;
        gap: 82px;
        .main_block_right{
            img{
                width: 100%;    
            }
            h2{
                color: #FFF;
                font-size: 39.2px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 30px;
                max-width: 533px;
            }
            p{
                color: #CACACA;
                font-size: 22.4px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                margin-bottom: 30px;
            }
            .block_btn{
                border: none;
                cursor: pointer;
                color: #000;
                font-size: 18.055px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                border-radius: 47.556px;
                background: #D9D9D9;
                padding: 11px 61px;
            }
        }
        .main_block_left{
            p{
                max-width: 503px;
                color: #CACACA;
                font-size: 22.4px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                margin-bottom: 30px;
            }
        }
    }
    .main_block_two{
        display: flex;
        margin-top: 143px;
        margin-bottom: 143px;
        gap: 165px;
        .main_block_left{
            p{
                max-width: 503px;
                color: #CACACA;
                font-size: 22.4px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                margin-bottom: 30px;
            }
        }
    }
    .main_block_three{
        margin-bottom: 154px;
        display: flex;
        gap: 165px;
        .main_block_right{
            p{
                color: #CACACA;
                font-size: 22.4px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                margin-bottom: 30px;
            }
        }
    }
}
#portfolio{
    h1{
        text-align: center;
        margin-top: 87px;
        margin-bottom: 74px;
        color: #FFF;
        font-size: 81.2px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 11.774px;
        text-transform: uppercase;
    }
    .line_portfolio{
        margin-bottom: 121px;
        svg{
            width: 100%;
        }
        .media_line{
            display: none;
            svg{
                width: 100%;
            }
        }
    }
    .portfolio_block{
        margin-bottom: 121px;
        display: flex;
        justify-content: center;
        gap: 88px;
        .portfolio_block_right{
            h2{
                color: #FFF;
                font-size: 39.2px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 30px;
                max-width: 462px;
            }
            p{
                max-width: 462px;
                color: #CACACA;
                font-size: 22.4px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
        }
    }
    .portfolio_block_three{
        gap: 164px;
    }
}
footer{
    margin-top: 66px;
    margin-bottom: 93px;
    text-align: center;
    h2{
        color: #FFF;
        font-size: 57.522px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 8.341px;
        text-transform: uppercase;
        margin-bottom: 44px;
    }
    .footer_social{
        gap: 69px;
        margin-top: 44px;
        display: flex;
        justify-content: center;
        h4{
            color: #FFF;
            font-size: 36.123px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            a{
                margin-left: 23px;
                color: #FFF;
                font-size: 36.123px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-decoration-line: underline;
                text-transform: uppercase;
            }
        }
    }
}

@media (max-width: 1200px){
    #main_blocks{
        .main_block_two{
             gap: 65px;
        }
        .main_block_three{
             gap: 65px;
        }
        img{
            width: 500px;
        }
    } 
    .footer_social{
        flex-direction: column;
    }
    #portfolio{
        .portfolio_block{
            gap: 30px;
            .portfolio_block_left{
                img{
                    width: 500px;
                }
            }
        }
    }
}
@media (max-width: 992px){
    .main_container{
        padding: 0 19px;
    }
    #portfolio{
        .line_portfolio{
            svg{
                display: none;
            }
            .media_line{
                display: block;
            }
        }
        .portfolio_block{
            gap: 30px;
            flex-direction: column;
            .portfolio_block_left{
                img{
                    width: auto;
                }
            }
            .portfolio_block_right{
                p{
                    max-width: 100%;
                }
            }
        }
    }
    #main_blocks{
        .main_block_one{
            gap: 30px;
            flex-direction: column;
        }
        .main_block_two{
            margin-top: 64px;
            margin-bottom: 64px;
            flex-direction: column-reverse;
            .main_block_left{
                margin-left: auto;
            }
            .main_block_right{
                margin-left: auto;
            }
        } 
        .main_block_three{
            flex-direction: column;
        }
    }
}
@media (min-width:768px){
    .mediaMenu{
        display: none;
    }
}
@media (max-width:768px){
    header{
        .header_wrapper{
            .logo{
                img{
                    width: 165px;
                }
            }
            nav{
                .nav_link{
                    display: none;
                }
                .media_burger{
                    cursor: pointer;
                    display: block;
                }
            }
        }
    }
    .header_container{
        padding: 0 30px 0 19px;
    }
    main{
        padding: 209px 0;
        .main_content{
            .main_btn{
                display: none;
            }
            h1{
                margin-top: 0;
                font-size: 34.885px;
                letter-spacing: 5.058px;
            }
        }
    }
   #main_blocks{
    margin-top: 0;
        .line{
            svg{
                width: 100%;
            }
            margin: 70px 0;
            display: block;
        }
        .main_block_one{
            .main_block_left{
                img{
                    width: 262px;
                }
            }
            .main_block_right{
                h2{
                    font-size: 24px;
                    margin-bottom: 19px;
                }
                p{
                    max-width: 340px;
                    font-size: 14px;
                }
                .block_btn{
                    display: none;
                }
            }
        }
        .main_block_two{
            margin-right: 11px;
            gap: 30px;
            .main_block_left{
                p{
                    max-width: 273px;
                    font-size: 14px;
                }
            }
            .main_block_right{
                img{
                    width: 273px;
                }
            }
            
        }
        .main_block_three{
            margin-left: 11px;
            margin-bottom: 61px;
            gap: 30px;
            .main_block_left{
                img{
                    width: 288px;
                }
            }
            .main_block_right{
                p{
                    font-size: 14px;
                    max-width: 279px;
                }
            }
        }
   } 
   #portfolio{
    h1{
        margin: 43px 0;
        font-size: 34.885px;
        letter-spacing: 5.058px;
    }
    .line_portfolio{
        margin-bottom: 72px;
    }
    .portfolio_block{
        margin-left: 11px;
        margin-bottom: 72px;
        .portfolio_block_left{
            img{
                width: auto;
            }
            .portfolio1{
                width: 262px;
            }
            .portfolio2{
                width: 207px;
            }
            .portfolio3{
                width: 298px;
            }
        }
        .portfolio_block_right{
            p{
                max-width: 100%;
            }
            h2{
                font-size: 24px;
                margin-bottom: 19px;
            }
            p{
                // max-width: 340px;
                font-size: 14px;
            }
        }
        .portfolio_block_left_right{
            margin-left: auto;
        }
    }
}
   footer{
        margin-top: 30px;
        margin-bottom: 42px;
        h2{
            margin-bottom: 21px;
            font-size: 27.907px;
            letter-spacing: 4.047px;
        }
        .footer_line{
            padding: 0 11px;
            svg{
                width: 100%;
            }
        }
        .footer_social{
            margin-top: 33px;
            gap: 23px;
            h4{
                font-size: 17.525px;
                a{
                    margin-left: 11px;
                    font-size: 17.525px;
                }
            }
        }
   }

}